<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/myintroduction.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>K.HikaruIntroduction</title>
  </head>
  <body>
    <header class="header">
      <div class="headerinner">
        <div class="topLogo">
          <%= image_tag "tennisLogo.png", class:"tennisLogo" %>
          <a href="#"><h1 class="topName">K.HIKARU</h1></a>
        </div>
        <nav>
          <ul class="connectBtn">
            <li><a href="#about">About</a></li>
            <li><a href="#hobby">Hobby</a></li>
            <li><a href="#skill">Skill</a></li>
            <li><a href="#contact">Contact</a></li>
            <li>
              <div class="github">
                <%= link_to "https://github.com/hika0403/myintroduction" do %>
                  <%= image_tag "GitHub_Mark.png", class:"GitHub_Mark" %>
                  <%= image_tag "GitHub_Logo.png", class:"GitHub_Logo" %>
                <% end %>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="home">
        <div class="mainVisual">
          <%= image_tag "mainVisual1.png", class:"mainVisualImg" %>
          <div class="mainVisualText">
            <p>小松 ひかる</p>
            <p>1999.4.3</p>
            <p>神奈川県横浜市出身</p>
            <p>道理百遍 義理一遍</p>
          </div>
        </div>
      </div>
      <h2 id="about">About</h2>
      <div class="about">
        <div class="aboutImg">
          <%= image_tag "newotani_1.jpeg", class:"aboutImgContent" %>
          <%= image_tag "newotaniContest.HEIC", class:"aboutImgContent" %>
        </div>
        <div class="aboutText">
          <p>東京オリンピック2020へ大きく関わりたいという理由で、</p>
          <p>2020年 新入社員で株式会社ニュー・オータニへ入社。</p>
          <p>ベル・客室係を経験した後、電話対応のオペレーターとして約3年間従事。</p>
          <p>外線からのホテル案内や客室内からの問い合わせに対応していました。</p>
          <br>
          <br>
          <h3>2021年 千代田区電話対応コンクール出場</h3>
          <p>毎年、日本電信電話協会主催で行われる</p>
          <p>千代田区電話対応コンクールへ会社代表として出場し、</p>
          <p>約100名の出場者の中で優秀賞を獲得することができました。</p>
        </div>
      </div>
      <h2 id="hobby">Hobby</h2>
      <div class="hobby">
        <div class="hobbyImg">
          <div class="hobbyImgTennis">
            <%= image_tag "tennisplay.jpg", class:"tennisImg" %>
            <%= image_tag "gravity.png", class:"tennisImg" %>
          </div>
          <div class="hobbyImgTrip">
            <%= image_tag "ireland.jpg", class:"tripImg" %>
            <%= image_tag "palao.jpg",  class:"tripImg" %>
          </div>
        </div>
        <div class="hobbyText">
          <h3>硬式テニス</h3>
          <p>全く運動する習慣がなかった為、長く続けられる運動をしようと
          <br>2021年〜 テニススクールに通い、初心者コースから始めました。
          <br>最近は週１回ほど行い、中級コースまで上達することができ、
          <br>ダブルス試合にも参加しています。</p>
          <p>愛用ラケット:Gravity MP LITE</p>
          <p>片面がブルー＆バイオレット、<br>もう片面がイエロー＆グリーンのデザイン✨</p>
          <br>
          <h3>旅行</h3>
          <p>国内外ともに旅行に行くのが好きで、<br>コロナ以前には年に一回以上海外に行くことが目標でした。</p>
          <p>今まで行ってよかった国はアイルランド🇮🇪とパラオ🇵🇼です。</p>
          <p>アイルランドは黒ビール「ギネス」が生まれた国で<br>常に陽気な音楽が町中に広がっていました。</p>
          <p>パラオは新婚旅行でも人気の国で、綺麗な海が魅力的でした。</p>
        </div>
      </div>
      <div class="skill">
        <h2 id="skill">Skill</h2>
        <div class="skillIcon">
          <i class="devicon-html5-plain-wordmark"></i>
          <i class="devicon-css3-plain-wordmark"></i>
          <i class="devicon-ruby-plain-wordmark"></i>
          <i class="devicon-rails-plain-wordmark"></i>
          <i class="devicon-github-original-wordmark"></i>

        </div>
      </div>
      <%= render "contacts/index" %>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </body>
</html>