<% provide :title, 'お問い合わせ' %>
<div class="contact">
  <div class="Form">
    <h2>Contact</h2>
    <%= form_with model: @contact, local: true do |form| %>
      <%# <% if @contact.errors.any? %> 
        <%# <div class="alert alert-danger" role="alert"> %>
          <%# <h5><strong>入力内容にエラーがあります。</strong></h5> %>
          <%# <ul> %>
            <%# <% @contact.errors.full_messages.each do |message| %> 
              <%# <li><%= message</li> %>
            <%# <% end %> 
          <%# </ul> %>
        <%# </div> %>
      <%# <% end %> 

      <div class="Form-Item">
        <span class="Form-Item-Label-Required">必須</span>
        <%= form.label :name, 'お名前', class: 'Form-Item-Label' %>
        <%= form.text_field :name, id: 'name', class: 'Form-Item-Input', :placeholder => '例）小松ひかる' %>
      </div>

      <div class="Form-Item">
        <span class="Form-Item-Label-Required">必須</span>
        <%= form.label :email, 'メールアドレス', class: 'Form-Item-Label' %>
        <%= form.text_field :email, id: 'email', class: 'Form-Item-Input', :placeholder => '例）example@gmail.com' %>
      </div>

      <div class="Form-Item">
        <span class="Form-Item-Label-Required">必須</span>
        <%= form.label :content, 'お問い合わせ内容', class:'Form-Item-Label' %>
        <%= form.text_area :content, id: 'content', class: 'Form-Item-Textarea', :rows => '5' %>
      </div>

      <div class="float-right">
        <%= form.submit "確認", class: "Form-Btn" %>
      </div>
    <% end %>
  </div>
</div>